/* главный фон #ffffff */
/* фон наши мастера #F7F7F7 */
/* фон онлайн записи #191C26 */
/* фон футера #F7F7F7 */
/* фон квадратов #F7F7F7 */

/* главный цвет текста #303030 */
/* вторичный цвет текста #555555 */
/* вторичный цвет текста прозрачный #9DA4BD */
/* цвет текста навигации #FFFFFF */
/* цвет текста кнопки 1  #FFFFFF */
/* цвет текста кнопки 2 #303030 */
/* цвет текста номера #FFFFFF */
/* цвет текста героя #FFFFFF */
/* цвет заголовка 1 #FFFFFF */
/* цвет заголовка 2 #303030 */
/* цвет текста after line rgba(157, 164, 189, 0.6) */

/* акцент #FF6C00 */

:root {
  --bgc-main: #ffffff;
  --bgc-masters: #f7f7f7;
  --bgc-online: #191c26;
  --bgc-footer: #f7f7f7;
  --bgc-square-feature: #f7f7f7;

  --main-text: #303030;
  --second-text: #555555;
  --gray-text: #9da4bd;
  --nav-text: #ffffff;
  --btn-text-first: #ffffff;
  --btn-text-second: #303030;
  --number-text: #ffffff;
  --hero-text: #ffffff;
  --h-text-first: #ffffff;
  --h-text-second: #303030;
  --after-line-text: rgba(157, 164, 189, 0.6);

  --accent: #ff6c00;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  font-family: 'Open Sans', sans-serif;

  letter-spacing: 0.02em;

  background-color: var(--bgc-main);
  color: var(--main-text);
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* ---------------UTILITIES----------------- */
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  /* outline: 1px solid tomato; */
}

.btn {
  padding: 12px 20px;
  border: 1px solid var(--accent);
  border-radius: 25px;
  cursor: pointer;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  min-width: 160px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-color: transparent;
}

.btn:hover,
.btn:focus {
  background-color: var(--accent);
  color: var(--btn-text-first);
}

.same-title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
}

.same-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: flex;
  align-content: center;
}

.same-text-second {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
}

/* ---------------HEADER----------------- */

/* logo */
.header {
  position: absolute;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header > .container {
  display: flex;
  align-items: center;
}

.header__logo {
  color: var(--main-text);
  display: block;
}

.header__svg {
  display: block;
  fill: currentColor;

  transition: color 250ms linear;
}

.header__logo:hover .header__svg,
.header__logo:focus .header__svg {
  color: var(--accent);
}

/* nav */

.header-nav__list {
  display: flex;
  margin-left: 70px;
}

.header-nav__item:not(:last-child) {
  margin-right: 40px;
}

/* same class */
.header-nav__link,
.header-auth__link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;

  transition: color 250ms linear;

  color: var(--nav-text);
}

.header-nav__link:hover,
.header-nav__link:focus,
.header-auth__link:hover,
.header-auth__link:focus {
  color: var(--accent);
}

/* auth */

.header-auth {
  margin-left: auto;
}

.header-auth__btn {
  margin-left: 40px;

  color: var(--btn-text-first);
}

/* ---------------HERO----------------- */

.hero > .container {
  display: flex;
}

.hero-soc {
  width: 93px;
  display: flex;
  align-items: flex-end;
  padding-left: 24px;
  padding-bottom: 40px;
}

.hero-soc__list {
  width: 93px;
  display: flex;
  transform: rotate(-90deg) translate(-19px);
  transform-origin: top left;
}

.hero-soc__item {
  display: flex;
  align-items: center;
}

.hero-soc__item:not(:last-child) {
  margin-right: 40px;
}

.hero-soc__item--before-line::before {
  content: '';
  width: 60px;
  height: 1px;
  top: 0;
  left: 0;
  margin-right: 40px;

  background-color: #303030;
}

.hero-soc__link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;

  transition: color 250ms linear;

  color: var(--main-text);
}

.hero-soc__link:hover,
.hero-soc__link:focus {
  color: var(--accent);
}

.hero-box {
  flex-grow: 1;
  padding: 272px 0 206px 96px;

  background-color: rgba(25, 28, 38, 0.2);
  background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
    url(../img/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-box__top {
  margin-bottom: 20px;
  display: flex;
  align-items: center;

  color: var(--after-line-text);
}

.hero-box__top::before {
  content: '';
  width: 63px;
  height: 1px;
  top: 0;
  left: 0;
  margin-right: 21px;

  background-color: rgba(157, 164, 189, 0.6);
}

.hero-box__title {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  margin-bottom: 20px;

  color: var(--h-text-first);
}

.hero-box__bottom {
  color: var(--gray-text);
  max-width: 400px;
}

/* ---------------ABOUT-US----------------- */

.about {
  padding-top: 139px;
  padding-bottom: 121px;
}

.about > .container {
  display: flex;
}

.about__list {
  display: flex;
}

.about__item {
  width: 270px;
}

.about__item + .about__item {
  margin-left: 30px;
}

.about__img {
  height: 100%;
}

/* about_box */

.about-box {
  margin-left: 64px;
}

.about-box__top {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.about-box__top::before {
  content: '';
  width: 63px;
  height: 1px;
  top: 0;
  left: 0;
  margin-right: 21px;

  background-color: #303030;
}

.about-box__title {
  font-family: 'Raleway';
  margin-bottom: 20px;

  color: var(--h-text-second);
}

.about-box__bottom {
  margin-bottom: 20px;

  color: var(--second-text);
}

.about-box__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  margin-bottom: 40px;

  color: var(--second-text);
}

.about-box__btn {
  color: var(--main-text);
}

/* ----------------SERVISEC----------------- */

.services {
  padding-top: 130px;
  padding-bottom: 130px;

  background-color: #111319;
  background-image: url(../img/services.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.services__text {
  margin-bottom: 20px;
  display: flex;
  align-items: center;

  color: var(--after-line-text);
}

.services__text::before {
  content: '';
  width: 63px;
  height: 1px;
  top: 0;
  left: 0;
  margin-right: 21px;

  background-color: rgba(157, 164, 189, 0.6);
}

.services__title {
  font-family: 'Raleway';
  margin-bottom: 44px;

  color: var(--h-text-first);
}

/* servis_blocks */
.services-blocks {
  display: flex;
}

.services-blocks__list {
  flex-grow: 1;
  margin-bottom: 50px;
  padding: 30px 40px;
}

/* same_class */
.services-blocks__list.light-services,
.services-blocks__list.dark-services {
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.services-blocks__item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.services-blocks__item:not(:last-child) {
  margin-bottom: 20px;
}

.services-blocks__item::before {
  content: '';
  flex-grow: 1;
  height: 1px;
  margin-right: 6px;
  margin-left: 6px;

  background-color: rgba(157, 164, 189, 0.12);
}

/* same_class */
.services-blocks__pre,
.services-blocks__after {
  color: var(--gray-text);
}

.services-blocks__pre:first-child {
  order: -1;
}

.services__btn {
  display: block;
  margin: 0 auto;

  color: var(--btn-text-first);
}

/* ----------------FEATURE----------------- */

.feature {
  padding-top: 121px;
  padding-bottom: 130px;
}

.feature > .container {
  display: flex;
}

/* left */

.feature-left {
  padding-left: 100px;
  padding-right: 130px;
}

.feature-left__list {
  display: flex;
  flex-wrap: wrap;
  width: 370px;
}

.feature-left__item {
  width: 170px;
  height: 133px;
  padding: 20px 24px;
  transform: scale(1);
  transition: transform 250ms linear;

  background-color: var(--bgc-square-feature);
}

.feature-left__item:hover {
  transform: scale(1.1);
}

.feature-left__item:nth-child(2n-1) {
  margin-right: 30px;
}

.feature-left__item:nth-child(2n) {
  margin-top: 30px;
}

.feature-left__text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
}

.feature-left__wrap {
  width: 122px;
  height: 93px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.feature-left__number {
  display: flex;
  margin-bottom: 6px;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.35;
  letter-spacing: 0.05em;
}

.feature-left__number::after {
  content: '+';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.37;
  margin-left: 2px;
  align-self: flex-start;

  color: #ff6c00;
}

/* right */

.feature-right__pre {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.feature-right__pre::before {
  content: '';
  width: 63px;
  height: 1px;
  top: 0;
  left: 0;
  margin-right: 21px;

  background-color: #303030;
}

.feature-right__title {
  font-family: 'Raleway';
  margin-bottom: 20px;
  width: 483px;
}

.feature-right__after {
  width: 500px;
}

/* same class */
.feature-right__after,
.masters-under__title {
  color: var(--second-text);
}

/* ----------------MASTERS----------------- */

.masters {
  padding-top: 130px;
  padding-bottom: 130px;

  background-color: var(--bgc-masters);
}

.masters__text {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.masters__text::before {
  content: '';
  width: 63px;
  height: 1px;
  top: 0;
  left: 0;
  margin-right: 21px;

  background-color: #303030;
}

.masters__title {
  margin-bottom: 44px;
}

.masters__list {
  display: flex;
  margin-left: -30px;
}

.masters__item {
  width: calc(100% / 3 - 15px);
  margin-left: 30px;
}

/* .list-masters .item-masters:first-child{
  margin-left: 0;
} */

.masters__img {
  margin-bottom: 30px;
}

.masters-under {
  text-align: center;
}

.masters-under__title {
  font-family: 'Raleway';
  margin-bottom: 8px;
  line-height: 1.38;

  color: var(--main-text);
}

.masters-under__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.35;
  margin-bottom: 30px;

  color: var(--accent);
}

.masters-under__list {
  display: flex;
  justify-content: center;
}

.masters-under__item:not(:last-child) {
  margin-right: 10px;
}

.masters-under__link {
  width: 44px;
  height: 44px;
  display: block;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: fill 250ms linear, background-color 250ms linear;

  color: var(--accent);
}

.masters-under__link:hover,
.masters-under__link:focus {
  fill: currentColor;
  background-color: rgba(157, 164, 189, 0.4);
}

/* ----------------PORTFOLIO----------------- */

.portfolio {
  padding-top: 130px;
  padding-bottom: 130px;
}

.portfolio__text {
  margin-bottom: 44px;
  display: flex;
  align-items: center;
}

.portfolio__text::before {
  content: '';
  width: 63px;
  height: 1px;
  top: 0;
  left: 0;
  margin-right: 21px;

  background-color: #303030;
}

.portfolio__list {
  display: flex;
  margin-left: -30px;
}

.portfolio__item {
  width: calc(100% / 4 - 30px);
  margin-left: 30px;
}

/* .list-portfolio .item-portfolio:not(:last-child){
    margin-right: 30px; 
} */

/* ----------------ONLINE----------------- */

.contacts-wrap {
  background-color: #191c26;
  background-image: url(../img/online.png);
  background-repeat: no-repeat;
  background-size: calc(100% / 2 - 15px) 100%;
  background-position: right;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.contacts-wrap > .container {
  display: flex;
}

.online {
  width: calc((100% / 2) + 15px);
  padding-top: 130px;
  padding-bottom: 130px;

  background-color: var(--bgc-online);
}

.online__title {
  margin-bottom: 44px;
  font-family: 'Raleway';

  color: var(--h-text-first);
}

.contacts-form {
  margin-bottom: 44px;
}

.contacts-form__wrap {
  display: flex;
  margin-bottom: 44px;
}

.contacts-form__field:not(:last-child) {
  margin-right: 30px;
}

.contacts-form__field {
  position: relative;
}

/* .form-input:focus+.form-label,
.form-input:not(:placeholder-shown)+.form-label {
  transform: translateY(-40px);
  color: white;
} */

/* same_class */
.contacts-form__input,
.contacts-form__textarea {
  font-size: 16px;
  line-height: 1.36;
  letter-spacing: 0.02em;
  padding: 10px;
  width: 270px;
  height: 30px;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  outline: none;

  background-color: transparent;
  color: #fff;
}

.contacts-form__input--tel {
  width: 260px;
}

.contacts-form__span {
  position: absolute;
  text-transform: uppercase;
  font-style: normal;
  font-size: 12px;
  line-height: 1.36;
  display: block;
  top: 50%;
  left: 0;
  transform: translateY(-50%);

  transition: color 250ms linear, transform 250ms linear, border-color 250ms linear;

  color: rgba(157, 164, 189, 0.4);
}

.contacts-form__input:focus + .contacts-form__span,
.contacts-form__input:not(:placeholder-shown) + .contacts-form__span {
  color: #fff;
  transform: translateY(-35px);
}

.contacts-form__field:hover .contacts-form__input,
.contacts-form__field:hover .contacts-form__span {
  color: #fff;
  border-color: #fff;
}

.contacts-form__textarea {
  resize: none;
  width: 560px;
  height: 76px;
  margin-bottom: 44px;
  padding: 8px 8px 8px 4px;

  transition: border-color 250ms linear;
}

.contacts-form__textarea::placeholder {
  text-transform: uppercase;
  font-style: normal;
  font-size: 12px;
  line-height: 1.36;

  color: rgba(157, 164, 189, 0.4);
}

.contacts-form__text-field:hover .contacts-form__textarea,
.contacts-form__text-field:focus .contacts-form__textarea {
  border-color: #fff;
}

.online__btn {
  color: var(--btn-text-first);
}

/* ----------------CONTACTS----------------- */

.contacts {
  padding-top: 130px;
  padding-bottom: 130px;
  flex-grow: 1;
  padding-left: 100px;
}

.contacts__title {
  margin-bottom: 40px;
  font-family: 'Raleway';

  color: var(--h-text-first);
}

.contacts__list {
  margin-bottom: 70px;
}

.contacts__item:not(:last-child) {
  margin-bottom: 20px;
}

.contacts__box {
  display: flex;
  align-items: center;
}

.contacts__link {
  font-style: normal;
  display: flex;
  align-items: center;

  transition: color 250ms linear;

  color: var(--gray-text);
  fill: transparent;
}

.contacts__link:hover,
.contacts__link:focus {
  color: var(--accent);
}

.contacts__link--start {
  align-items: flex-start;
}

.contacts__link--start svg {
  margin-top: 6px;
}

.contacts__svg {
  margin-right: 16px;
  stroke: currentColor;
}

.contacts__link:hover .contacts__svg,
.contacts__link:focus .contacts__svg {
  color: var(--accent);
}

.contacts-under__top {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  color: #fff;
}

.contacts-under__top::before {
  content: '';
  width: 63px;
  height: 1px;
  top: 0;
  left: 0;
  margin-right: 21px;

  background-color: rgba(157, 164, 189, 0.4);
}

.contacts-under__bottom {
  font-style: normal;

  transition: color 250ms linear;

  color: var(--gray-text);
}
/* ----------------FOOTER----------------- */
.footer {
  padding-top: 57px;
  padding-bottom: 55px;

  background-color: var(--bgc-footer);
}

.footer > .container {
  display: flex;
  align-items: center;
}

/* same class */
.footer__text,
.footer__link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  display: block;
  letter-spacing: 0.2em;

  color: var(--gray-text);
}

.footer__list {
  display: flex;
  margin-left: auto;
}

.footer__item {
  display: flex;
  align-items: center;
}

.footer__item--line::before {
  display: block;
  content: '';
  width: 63px;
  height: 1px;
  top: 0;
  left: 0;
  margin-right: 40px;

  background-color: #303030;
}

.footer__item:not(:last-child) {
  margin-right: 40px;
}

.footer__link {
  font-family: 'Open Sans';
  font-style: normal;
  display: flex;
  align-items: center;

  transition: color 250ms linear;

  color: var(--main-text);
}

.footer__link:hover,
.footer__link:focus {
  color: var(--accent);
}

/* BACKDROP_MODAL */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
