// CONTACTS_WRAP

.contacts-wrap {
  @media screen and(min-width:1200px) {
    background-size: calc(100% / 2 - 15px) 100%;
    background-position: right;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
  }

  & > .container {
    @media screen and (max-width: 1199px) {
      flex-direction: column;
      padding-left: 0;
      padding-right: 0;
    }
    @media screen and (min-width: 1200px) {
      display: flex;
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.contacts {
  flex-grow: 1;
  padding-left: 40px;

  background-repeat: no-repeat;
  background-color: #191c26;
  background-position: bottom;

  // MOBILE

  @media screen and (max-width: 767px) {
    background-image: url(../img/adaptive/mob-contacts-1.png);

    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../img/adaptive/mob-contacts-1-2x.png);
    }
    @media screen and (min-device-pixel-ratio: 3),
      (min-resolution: 288dpi),
      (min-resolution: 3dppx) {
      background-image: url(../img/adaptive/mob-contacts-1-3x.png);
    }
  }

  // TAB

  @media screen and (min-width: 768px) {
    background-image: url(../img/adaptive/tab-contacts-1.png);

    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../img/adaptive/tab-contacts-1-2x.png);
    }
    @media screen and (min-device-pixel-ratio: 3),
      (min-resolution: 288dpi),
      (min-resolution: 3dppx) {
      background-image: url(../img/adaptive/tab-contacts-1-3x.png);
    }
  }

  // DESKTOP

  @media screen and (min-width: 1200px) {
    background-image: url(../img/adaptive/desk-contacts-1.png);

    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../img/adaptive/desk-contacts-1-2x.png);
    }
    @media screen and (min-device-pixel-ratio: 3),
      (min-resolution: 288dpi),
      (min-resolution: 3dppx) {
      background-image: url(../img/adaptive/desk-contacts-1-3x.png);
    }
  }

  @media screen and (min-width: 1200px) {
    padding-top: 130px;
    padding-bottom: 130px;
    padding-left: 100px;
  }
  @media screen and (max-width: 1199px) {
    padding-top: 100px;
    padding-bottom: 100px;
    background-size: cover;
  }

  @media screen and (max-width: 767px) {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  &__address-wrap {
    @media screen and (max-width: 1199px) {
      display: flex;
    }
    @media screen and (max-width: 767px) {
      flex-wrap: wrap;
    }
  }

  &__title {
    margin-bottom: 40px;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 42px;
    line-height: 1.16;
    letter-spacing: 0.05em;

    color: $h-text-first;

    @media screen and (max-width: 767px) {
      text-align: center;
    }
  }

  &__list {
    margin-bottom: 70px;
  }

  &__item:not(:last-child) {
    margin-bottom: 20px;
  }

  &__box {
    display: flex;
    align-items: center;
  }

  &__link {
    font-style: normal;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;

    transition: color 250ms linear;

    color: $gray-text;
    fill: transparent;

    &:hover,
    &:focus {
      color: $accent;
    }

    &--start {
      align-items: flex-start;

      & svg {
        margin-top: 6px;
      }
    }
  }

  &__svg {
    margin-right: 16px;
    stroke: currentColor;

    .contacts__link:hover &,
    .contacts__link:focus & {
      color: $accent;
    }
  }
}

// CONTACTS_UNDER
.contacts-under {
  @media screen and (max-width: 1199px) {
    margin-left: 120px;
  }
  @media screen and (max-width: 767px) {
    margin-left: 0;
  }
  &__top {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    color: #fff;

    &::before {
      content: '';
      width: 63px;
      height: 1px;
      top: 0;
      left: 0;
      margin-right: 21px;

      background-color: rgba(157, 164, 189, 0.4);
    }
  }

  &__bottom {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    transition: color 250ms linear;

    color: $gray-text;
  }
}
