.feature {
  @media screen and(min-width:1200px) {
    padding-top: 121px;
    padding-bottom: 130px;
  }
  @media screen and(max-width:1199px) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  @media screen and(max-width:767px) {
    padding-top: 84px;
    padding-bottom: 84px;
  }
  & > .container {
    @media screen and (min-width: 1200px) {
      display: flex;
    }
    @media screen and (max-width: 1199px) {
      display: flex;
      flex-direction: column-reverse;
    }
  }
}

// FEATURE_LEFT

.feature-left {
  @media screen and (min-width: 1200px) {
    padding-left: 100px;
    padding-right: 130px;
  }

  @media screen and (max-width: 1199px) {
    margin-left: auto;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    width: 370px;

    @media screen and(max-width:1199px) {
      width: 450px;
    }
  }

  &__item {
    width: 170px;
    height: 133px;
    padding: 20px 24px;
    transform: scale(1);
    transition: transform 250ms $cubic;

    background-color: $bgc-square-feature;

    @media screen and (max-width: 1199px) {
      width: 210px;
      padding: 20px 44px;
    }

    &:hover {
      transform: scale(1.1);
    }

    &:nth-child(2n-1) {
      margin-right: 30px;
    }

    &:nth-child(2n) {
      margin-top: 30px;
    }
  }

  &__text {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-align: center;
  }

  &__wrap {
    width: 122px;
    height: 93px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__number {
    display: flex;
    margin-bottom: 6px;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.35;
    letter-spacing: 0.05em;

    &::after {
      content: '+';
      font-weight: 600;
      font-size: 16px;
      line-height: 1.37;
      margin-left: 2px;
      align-self: flex-start;

      color: $accent;
    }
  }
}

// FEATURE_RIGHT

.feature-right {
  @media screen and (max-width: 1199px) {
    margin-bottom: 44px;
  }
  &__pre {
    margin-bottom: 20px;
    display: flex;
    align-items: center;

    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-transform: uppercase;
    letter-spacing: 0.1em;

    &::before {
      content: '';
      width: 63px;
      height: 1px;
      top: 0;
      left: 0;
      margin-right: 21px;

      background-color: $main-text;
    }
  }

  &__title {
    font-family: 'Raleway';
    margin-bottom: 20px;
    width: 483px;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.16;
    letter-spacing: 0.05em;

    color: $main-text;
  }

  &__after {
    width: 500px;
    letter-spacing: 0.02em;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.67;

    color: $second-text;
  }
}
