.footer {
  padding-top: 57px;
  padding-bottom: 55px;

  @media screen and (max-width: 767px) {
    padding-top: 44px;
    padding-bottom: 44px;
  }

  background-color: $bgc-footer;

  & > .container {
    display: flex;
    align-items: center;
  }

  &__text {
    @include footer-same;
  }

  &__list {
    display: flex;
    margin-left: auto;

    @media screen and (max-width: 767px) {
      margin-left: auto;
      margin-bottom: 20px;
    }
  }

  &__item {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-right: 40px;
    }

    &--line::before {
      display: block;
      content: '';
      width: 63px;
      height: 1px;
      top: 0;
      left: 0;
      margin-right: 40px;

      background-color: $main-text;
    }
  }

  &__link {
    @include footer-same;

    font-family: 'Open Sans';
    font-style: normal;
    display: flex;
    align-items: center;

    transition: color 250ms linear;

    color: var(--main-text);

    &:hover,
    &:focus {
      color: $accent;
    }
  }
}

.footer-wrap {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column-reverse;
    width: 480px;
  }

  @media screen and(min-width:768px) {
    display: flex;
    width: 768px;
  }

  @media screen and(min-width:1200px) {
    display: flex;
    width: 1200px;
  }
}
