.header {
  position: absolute;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;

  & > .container {
    display: flex;
    align-items: center;
  }

  &__logo {
    color: $main-text;
    display: block;

    @media screen and (max-width: 767px) {
      color: #fff;
      margin-left: 31px;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-top: -35px;
    }
  }

  &__svg {
    display: block;
    fill: currentColor;

    transition: color 250ms $cubic;

    .header__logo:hover &,
    .header__logo:focus & {
      color: $accent;
    }
  }
}

// BUTTON

.header-btn {
  @media screen and (min-width: 768px) {
    display: none;
  }

  margin-left: auto;
  margin-right: 31px;

  border: none;
  fill: #fff;
  background-color: transparent;
  z-index: 10;

  &__icon--cross {
    display: none;

    .header-btn.is-open & {
      display: block;
      fill: #000000;
    }
  }

  &.is-open &__icon--burger {
    display: none;
  }
}

// MENU

.menu-container {
  transform: translateX(0);

  &.is-open {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 70%;
    padding: 118px 49px;

    transition: transform 250ms $cubic;

    background-color: #fff;
  }
}

// HEADER_NAV

.header-nav {
  &__list {
    @media screen and (max-width: 1199px) {
      display: flex;
      margin-left: 50px;
      margin-right: 68px;
      margin-top: -30px;
    }

    @media screen and (min-width: 1200px) {
      display: flex;
      margin-left: 70px;
    }

    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  &__item:not(:last-child) {
    margin-right: 40px;
  }

  &__link {
    @include header-link;

    &:hover,
    &:focus {
      color: $accent;
    }
  }
}

// HEADER_AUTH

.header-auth {
  @media screen and (max-width: 1199px) {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  @media screen and (min-width: 1200px) {
    margin-left: auto;
  }

  @media screen and (max-width: 767px) {
    display: none;
  }

  &__link {
    @include header-link;

    &:hover,
    &:focus {
      color: $accent;
    }
  }

  &__btn {
    @media screen and (max-width: 1199px) {
      display: block;
      margin-bottom: 20px;
    }

    @media screen and (min-width: 1200px) {
      margin-left: 40px;
    }

    color: $btn-text-first;
  }
}
