// ONLINE

.online {
  background-color: $bgc-online;

  @media screen and (min-width: 1200px) {
    padding-top: 130px;
    padding-bottom: 130px;
    width: calc((100% / 2) + 15px);
    padding-left: 58px;
  }
  @media screen and (max-width: 1199px) {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 40px;
    padding-right: 40px;
  }

  @media screen and (max-width: 767px) {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  &__title {
    margin-bottom: 44px;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 42px;
    line-height: 1.16;
    letter-spacing: 0.05em;

    color: $h-text-first;
  }

  &__btn {
    @media screen and (max-width: 1199px) {
      display: block;
    }
    @media screen and (max-width: 767px) {
      margin-left: auto;
      margin-right: auto;
    }

    color: $btn-text-first;
  }
}

// ONLINE_FORM

.contacts-form {
  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 44px;
  }
  &__wrap {
    display: flex;
    margin-bottom: 44px;
    @media screen and (max-width: 767px) {
      flex-wrap: wrap;
    }
  }

  &__field:not(:last-child) {
    margin-right: 30px;
  }

  &__field {
    position: relative;
  }

  &__input {
    @include contacts-form;
    @media screen and (max-width: 1199px) {
      width: 330px;
    }

    @media screen and (max-width: 767px) {
      width: 418px;
      margin-bottom: 44px;
    }

    &--tel {
      width: 260px;
      @media screen and (max-width: 1199px) {
        width: 330px;
      }

      @media screen and (max-width: 767px) {
        width: 418px;
      }
    }

    .contacts-form__field:hover & {
      color: #fff;
      border-color: #fff;
    }
  }

  &__span {
    position: absolute;
    text-transform: uppercase;
    font-style: normal;
    font-size: 12px;
    line-height: 1.36;
    display: block;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

    transition: color 250ms linear, transform 250ms linear, border-color 250ms linear;

    color: rgba(157, 164, 189, 0.4);

    @media screen and (max-width: 767px) {
      top: 20%;
    }

    .contacts-form__input:focus + &,
    .contacts-form__input:not(:placeholder-shown) + & {
      color: #fff;
      transform: translateY(-35px);
    }

    .contacts-form__field:hover & {
      color: #fff;
      border-color: #fff;
    }
  }

  &__textarea {
    @include contacts-form;

    resize: none;
    width: 560px;
    height: 76px;
    margin-bottom: 44px;
    padding: 8px 8px 8px 4px;

    transition: border-color 250ms linear;

    @media screen and (max-width: 1199px) {
      width: 690px;
    }

    @media screen and (max-width: 767px) {
      width: 418px;
    }

    &::placeholder {
      text-transform: uppercase;
      font-style: normal;
      font-size: 12px;
      line-height: 1.36;

      color: rgba(157, 164, 189, 0.4);
    }

    .contacts-form__text-field:hover &,
    .contacts-form__text-field:focus & {
      border-color: #fff;
    }
  }
}
