/* фон наши мастера #F7F7F7 */
/* фон онлайн записи #191C26 */
/* фон футера #F7F7F7 */

/* главный цвет текста #303030 */
/* вторичный цвет текста #555555 */
/* вторичный цвет текста прозрачный #9DA4BD */
/* цвет текста навигации #FFFFFF */
/* цвет текста кнопки 1  #FFFFFF */
/* цвет текста кнопки 2 #303030 */
/* цвет текста номера #FFFFFF */
/* цвет текста героя #FFFFFF */
/* цвет заголовка 1 #FFFFFF */
/* цвет заголовка 2 #303030 */
/* цвет текста after line rgba(157, 164, 189, 0.6) */

/* акцент #FF6C00 */

$bgc-main: #ffffff;
$bgc-masters: #f7f7f7;
$bgc-online: #191c26;
$bgc-footer: #f7f7f7;

$main-text: #303030;
$second-text: #555555;
$gray-text: #9da4bd;
$nav-text: #ffffff;
$btn-text-first: #ffffff;
$btn-text-second: #303030;
$number-text: #ffffff;
$hero-text: #ffffff;
$h-text-first: #ffffff;
$h-text-second: #303030;
$after-line-text: rgba(157, 164, 189, 0.6);

$accent: #ff6c00;
$cubic: cubic-bezier(0.4, 0, 0.2, 1);
